<!DOCTYPE html>
<html>
  <head>
    <title>
      Ungültiger Token
    </title>
  </head>
  <body>
    <h1> Der Token war leider ungültig :( </h1>
    Checken Sie nochmal ihre E-Mails
  </body>
</html>
