<!DOCTYPE html>
<html>
  <head>
    <title>
      ChangeMakers - Bitte verifiziere deine Mail
    </title>
  </head>
  <body>
    <h1>
      Danke für dein Engagement!
    </h1>
    <p>
      Bitte klicken Sie
      <a href="<%=verifyUrl%>">
        hier
      </a>
      um Ihre E-Mail zu verifizieren.
  </body>
</html>
