<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <h2> Danke für dein Engagement! </h2>
    Damit wir deinen Namen auflisten können musst du nur noch deine E-Mail
    bestätigen. Klicke dafür einfach auf den Link in der versandten Mail.
  </body>
</html>
