body {
  padding: 20px;
  font: 14px "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
}

a {
  color: #00B7FF;
}

input {
  margin-bottom: 10px;
}

.g-recaptcha {
  margin-bottom: 10px;
}

label {
  min-width: 220px;
  display: inline-block;
}
